/* Bordered Form , from w3schools */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs , from w3schools */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solids #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons, from w3schools */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  /*width: 100%;*/
  display: table-cell;
}

/* custom back button */
.navbar-btn {
  background-color: transparent;
  color:#a37c32;
  border-color: #dba644 !important;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px 20px;
}

.navbar {
  background-color: #fbc02d !important;
}

/* add a hover effect for buttons, from w3schools */
button:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* add padding to containers, from w3schools */
.container {
  padding: 16px;
}

/* the "forgot password" text, from w3schools */
span.psw {
  float: right;
  padding-top: 16px;
}

/* change styles for span on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}

/* stuff for exercises*/

.h2 { font-size: 20sp; }

.panel {
  background-color: #fbc02d;
}

.panel.panel-horizontal {
  display:table;
  width:100%;
}
.panel.panel-horizontal > .panel-footer {
  display:table-cell;
}
.panel.panel-horizontal > .panel-footer {
  width: 25%;
  border:0;
  vertical-align: middle;
}
.panel.panel-horizontal > .panel-footer {
  border-left: 1px solid #ddd;
  border-top-left-radius: 0;
  border-bottom-right-radius: 4px;
}

.modal-backdrop {
  opacity: 0.7 !important;
}

.details{
  position:relative;
  padding-bottom:30%;
}
.gifsmall
{
  position:absolute;
  top:15%;
  width:69%;
}

.detailbtn {
  background-color:#c49000;
  color: white;
  padding: 14px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}
.detailbtn:hover, .detailbtn:focus {
  background-color: #fff263;
}

.detailtab {
  position: relative;
  display: inline;
}

.dropbtn {
  background-color:#c49000;
  color: white;
  padding: 15px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #fff263;
}

.dropdown {
  position: relative;
  display: inline;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #c49000;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #fff263}

.show {display:block;}

.overlay_pic {
  position: absolute;
  right: 38%;
  top: 27%;
  width: 25%;
  max-width: 25%;
}

.close {
	color: #fff;
	float: right;
	font-size: 30px;
	margin: 0;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	background: #fbc02d;
	color: #000;
}

.modal-body p, .modal-body input {
	border-color: #fbc02d;
}

.modal-body {
	text-align: center;
	background: #fff;
}

.modal-footer {
	background: #fbc02d;
	color: #fff;
	text-align: center;
	justify-content: center;
	padding: inherit;
	padding-left: 5px;
	padding-right: 5px;
}

#cancelBtn {
	background-color: #fff;
	border-color: #fbc02d;
	color: #000;
	height: 50%;
	width: 50%;
}

#createBtn {
	background: #fbc02d;
	border-color: #fff;
	color: #000;
	height: 50%;
	width: 50%;
}

.card-deck-wrapper {
  display: inline-block;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-items: stretch;
}
.card {
  display: inline-block;
  box-shadow: 0 0 5px silver;
  height: 200px;
  width: 150px;
  margin-top: 10px;
  text-align: center;
  margin: 10px;
  vertical-align: top;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card_content {
  padding: 10px;
  color: black;
}
.tbHeader{
	font-family: "tahoma";
	font-size:7vw;
	text-align: center;
	padding: 2.5px;
	bottom: 15px;
	background:  	 #fbc02d;
	border-radius:25px;
	background-clip: content-box;
}
/*View Exercises button in targetareaF.html*/
#str {
  background: #fbc02d;
  border-color: #fff;
  color: #000;
  height: 50%;
  width: 47%;
  margin-right: 5px;
}
.nav-item {
  font-size: large;
}
#cancelBtntargetF {
  background-color: #fff;
	border-color: #fbc02d;
	color: #000;
	height: 50%;
	width: 47%;
  margin-left: 5px;
  margin-right: 5px;
}
.trashCan {
  padding: 0;
  margin: 0;
  background-color: #fff;
/*  position: absolute; */
  right: 0px;
  bottom: 10px;
}
.pic {
  width: 100%;
  height: 65%;
  box-shadow:0 0 5px 2px silver;
}
